* {
    box-sizing: border-box;
    font-family:  'Arial Narrow', Arial, sans-serif
    /* outline: 1px dashed green; */
}
body {
    margin: 0px;

}

a {
    text-decoration: none;
    color: inherit;
}
header {
    height: 60px;
    background-image: linear-gradient(#004070, #01233c);
    color: white;
    padding: 20px 30px;
}
#logo {
    width: 10%;
}
#logo, nav {
    display: inline-block;
}
nav {
    width: 89%;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}
.pretraga {
    display: inline-block;
    vertical-align: top;
}
.pretraga input[type=text] {
    border-radius: 10px 0px 0px 10px;
    height: 20px;
    vertical-align: top;
}
.pretraga button {
    background-color: #01233c;
    border: 0px;
    border-radius: 0px 10px 10px 0px;
    height: 20px;
    vertical-align: top;
}
.pretraga img {
    height: 70%;
}


.desno {
    float: right;
}
li {
    display: inline-block;
    padding: 0px 20px;
}


main {
    padding: 20px 50px;
}

.kartica {
    border: 1px solid darkslategray;
    width: 200px;
    /* height: 350px; */
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    text-align: center;
    position: relative;
}
.kartica h4 {
    font-weight: normal;
    height: 25px;
    color: darkslategrey;
}
.kartica h3 {
    font-weight: normal;
    color: black;
    text-shadow: 1px 1px #003963;
}
.kartica  small {
    font-size: 10px;
}

.kartica img {
    width: 100%;
}

/* .kartica:hover .kartica form{
    display: block;
} */

.kartica form {
    margin-bottom: 30px;
    padding-left: 5px;
}

.kartica input {
    height: 30px;
    vertical-align: top;
    text-align: center;
}
.kartica button {
    width: 30px;
    height: 30px;
    padding: 6px;
    background-image: linear-gradient(#003963,#012a47 );
    border: 0px;
    cursor: pointer;
    margin-left: -5px;
}
.kartica button img {
    width: 100%;
}



td, th, tr {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0px;
}
th {
    padding: 5px 10px;
}
table {
    border-collapse: collapse;
    padding: 0px;
}
td {
    padding: 10px;
}

.izmena {
    padding: 5px 10px;
    background-color: darkgreen;
    color: white;
    border-radius: 5px; 
}
.brisanje {
    padding: 5px 10px;
    background-color: darkred;
    color: white;
    border-radius: 5px; 
}

#greska {
    color: darkred;
}

.unos-pica {
    display: inline-block;
    border: 1px gainsboro;
    vertical-align: top;
    margin-right: 100px;
    width: 250px;
}
.unos-pica p {
    margin-bottom: 1px;
}
.unos-pica input,
.unos-pica select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 12px;
}
.unos-pica input[type="submit"] {
    width: 50%;
    display: block;
    margin: auto;
    font-size: 14px;
}

#tabele {
    display: inline-block;
    vertical-align: top;
}
#karta-pica {
    
}
#porudzbine {
    
} 
#admin-navigacija {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background-color: #00396314;
    color: #003963;
}
#admin-navigacija li {
    display: block;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid lightgrey;
}
#admin-sadrzaj {
    display: inline-block;
    vertical-align: top;
    padding: 50px;
}